body {
    background-image:url('../img/gray_brick_wall.gif');
    font-family:"Quattrocento", sans-serif;
    font-size:16px;
    color:#111;
}

h1, h2, h3, h4, h5, h6, p {
    font-family:"Quattrocento", sans-serif;
}

h1 {
    margin:0 0 5px 0;
    font-weight:bold;
    font-size:36px;
}

h4 {
    margin:5px 0 0 0;
    font-size:18px;
}

.row {
    margin-left:0;
    margin-right:0;
}

.margin-row {
    clear:both;
    margin-left:-7.5px;
    margin-right:-7.5px;
}

.gbm-header {
    max-width:1080px;
    margin:25px auto;
    padding:0 15px;
}

.gbm-header-letterhead {

}

.gbm-header-letterhead img {
    max-width:700px;
}

.gbm-header-flag {
    float:right;
    margin:18px 0 0 0;
}

.gbm-header-flag img {
    width:78px;
    height:40px;
}

.gbm-header-flag-text {
    clear:right;
    float:right;
    margin:5px 0 0 0;
    font-size:15px;
    font-weight:bold;
}

.gbm-header-contact {
    float:right;
    clear:right;
    text-align:right;
    margin:15px 0 0 0;
    font-size:18px;
    font-weight:bold;
}

.overflow-hidden {
    overflow:hidden;
}

.gbm-header-xs-name {
    font-size:32px;
    font-family:'Quattrocento', serif;
    font-weight:bold;
    float:left;
}

.gbm-header-xs-logo {
    float:right;
    margin:5px 0 0 0;
}

.gbm-header-xs-logo img {
    height:60px;
    width:60px;
}

.gbm-header-xs-contact {
    clear:left;
    padding:5px 0 0 0;
    font-size:18px;
    font-weight:bold;
}

.gbm-navbar {
    max-width:1080px;
    margin:0 auto;
    padding:0 15px;
    font-size:22px;
}

.gbm-navbar-button {
    display:inline-block;
    padding:8px 20px;
    font-weight:bold;
}

.gbm-navbar-button a {
    color:#eee;
    text-decoration:none;
}

.gbm-navbar-button a:hover {
    color:#ccc;
}

.gbm-jumbotron-xs {
    padding:15px 20px;
}

.gbm-jumbotron-xs-headline {
    padding:10px;
    background-color:rgba(16, 16, 16, 0.8);
    font-size:32px;
    font-family:'Roboto', sans-serif;
    text-align:center;
    color:#eee;
}

.gbm-jumbotron-xs-plate {
    padding:10px;
    margin:20px 0 10px 0;
    background-color:rgba(178, 92, 20, 0.8);
    border-radius:5px;
}

.gbm-jumbotron-xs-plate-tagline {
    text-align:center;
    font-size:20px;
    color:#eee;
}

.gbm-jumbotron {
    position:relative;
    max-width:1050px;
    background-color:rgba(16,16,16,0.6);
    margin:20px auto;
    padding:30px 20px 50px 20px;
    font-family:'Roboto', sans-serif;
}

.gbm-jumbotron-img {
    
}


@media (min-width:768px) and (max-width:991px) {
    .gbm-jumbotron-text {
        position:absolute;
        width:100%;
        height:18%;
        color:#eee;
        background-color:rgba(16,16,16,0.95);
        font-size:36px;
        text-align:center;
        margin:-10px 0 0 -20px;
        z-index:2;
    }
}

@media (min-width:992px) {
    .gbm-jumbotron-text {
        position:absolute;
        width:100%;
        height:18%;
        color:#eee;
        background-color:rgba(16,16,16,0.95);
        font-size:40px;
        text-align:center;
        margin:-25px 0 0 -20px;
        z-index:2;
    }
}

.gbm-container {
    max-width:1080px;
    margin:0 auto;
    padding:50px 15px 50px 15px;
}

.gbm-bigger-container {
    max-width:1110px;
    margin:0 auto;
    padding:50px 15px 50px 15px;
}

.gbm-inside-bigger-container {
    border-radius:10px;
    padding:10px 15px 20px 15px;
}


@media (min-width:768px) {
    .gbm-plate {
        max-width:700px;
        padding:10px 20px;
        margin:20px auto;
        text-align:center;
        border-radius:5px;
        background-color:#B25C14;
        font-size:20px;
        color:#eee;
        font-family:'Roboto', sans-serif;
    }
}

@media (min-width:991px) {
    .gbm-plate {
        max-width:860px;
        padding:10px 20px;
        margin:20px auto;
        text-align:center;
        border-radius:5px;
        background-color:#B25C14;
        font-size:24px;
        color:#eee;
        font-family:'Roboto', sans-serif;
    }
}

@media (max-width:767px) {
    .gbm-title {
        font-family:'Quattrocento', serif;
        font-size:32px;
        font-weight:bold;
        margin:0 7px 15px 5px;
        border-bottom:1px solid #676767;
    }
}

@media (min-width:768px) {
    .gbm-title {
        font-family:'Quattrocento', serif;
        font-size:32px;
        font-weight:bold;
        margin:0 7px 15px 5px;
        border-bottom:1px solid #676767;
    }
}

@media (max-width:767px) {
    .gbm-sub-title {
        margin:0 0 10px 0;
        font-size:22px;
        font-weight:bold;
    }
}

@media (min-width:768px) {
    .gbm-sub-title {
        margin:0 0 10px 0;
        font-size:22px;
        font-weight:bold;
    }
}

@media (max-width:767px) {
    .gbm-text {
        font-size:18px;
        margin:0 0 20px 0;
    }
}

@media (min-width:768px) {
    .gbm-text {
        font-size:18px;
        margin:0 0 20px 0;
    }
}

@media (max-width:767px) {
    .gbm-list-b {
        font-size:18px;
        margin:-7px 0 0 0;
    }
}

@media (min-width:768px) {
    .gbm-list-b {
        font-size:18px;
        margin:-12px 0 0 0;
    }
}

.gbm-list {
    font-size:18px;
}

.gbm-img {
    max-width:450px;
    margin:15px 0 0 0;
    padding:15px;
}

.gbm-img-frame {
    max-width:450px;
    margin:10px 0 0 0;
    padding:5px;
    border:1px solid #676767;
}

.gbm-img-caption {
    max-width:450px;
    padding:10px;
    margin:-1px 0 0 0;
    border:1px solid #676767;
}

.clearfix-and-space {
    clear:both;
    padding:20px 0 0 0;
}

.gbm-union-logo {
    float:left;
    margin:0 20px 0 10px;
}

.gbm-union-logo img {
    width:90px;
    height:90px;
}

.gbm-union-overflow-hidden {
    overflow:hidden;
    padding:20px 0 0 0;
}

.gbm-union-name {
    font-size:18px;
    font-weight:bold;
    max-width:300px;
}

@media (max-width:767px) {
    .gbm-seal {
        margin:10px 0 0 0;
        max-width:350px;
    }
}

@media (min-width:768px) {
    .gbm-seal {
        margin:10px 0 0 0;
    }
}

.gbm-footer {
    max-width:1080px;
    margin:0 auto;
    padding:0 15px;
    
}

.gbm-footer-back {
    float:left;
    padding:20px 0;
}

.gbm-footer-text {
    float:right;
    padding:20px 0;
    color:#eee;
}

.red-brick {
    background-image:url('../img/red_brick_wall.gif');
}

.gray-brick {
    background-image:url('../img/gray_brick_wall.gif');
}

.white-wall {
    background:#e7e7e7;
}

.darker-gray-brick {
    background-image:url('../img/darker_gray_brick_wall.gif');
}

.tan-brick {
    background-image:url('../img/tan_brick_wall.gif');
}

.brown-brick {
    background-image:url('../img/brown_brick_wall.gif');
}

.red-brick-lighter {
    background-image:url('../img/red_brick_wall_lighter.gif');
}

.black {
    background-color:#111;
}

.mortar-top {
    border-top:14px solid #333;
}

.underline {
    text-decoration:underline;
}