body,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento", sans-serif;
  font-weight: normal;
}

/* .gbm-header */

.gbm-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5em 4em;
}

.gbm-header {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: right;
}

.gbm-header-letterhead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gbm-header-union {
  align-self: center;
  min-width: 200px;
  text-align: right;
}

.gbm-header-flag,
.gbm-header-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
}

.gbm-header-xs-logo {
  max-width: 100px;
  max-height: 100px;
}

/* .gbm-navbar */

.gbm-navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  padding: 0 15%;
  background-color: black;
  font-size: 22px;
  flex-wrap: wrap;
}

.gbm-navbar-button {
  display: flex;
  align-content: center;
  margin: 8px 20px;
}

.gbm-navbar-button a:hover {
  color: #aaa;
}

.gbm-navbar-button a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
}

/* gbm-jumbotron */

.gbm-jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  max-height: 463px;
  margin: 0 20px 46px 20px;
  flex-basis: auto;
}

.gbm-jumbotron .img-responsive {
  border-top: 28px solid rgba(0, 0, 0, 0.45);
  border-bottom: 52px solid rgba(0, 0, 0, 0.45);
  border-left: 20px solid rgba(0, 0, 0, 0.45);
  border-right: 20px solid rgba(0, 0, 0, 0.45);
  max-width: 100%;
  flex-shrink: 1;
}

.gbm-jumbotron-textbox {
  color: #eee;
  background-color: rgba(16, 16, 16, 0.95);
  font-size: 40px;
  text-align: center;
  justify-items: flex-end;
  align-self: stretch;
  flex-shrink: 1;
  padding: 12px;
  margin-bottom: 28px;
  margin-top: -52px;
}

.gbm-jumbotron-footer {
  border-radius: 5px;
  background-color: #b25c14;
  font-size: 26px;
  color: #eee;
  padding: 10px 20px;
  text-align: center;
  justify-items: flex-end;
  flex-shrink: 1;
}

/* gbm-container */

.gbm-container {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.gbm-container-full {
  display: flex;
  max-width: 1040px;
  font-size: 18px;
}

.gbm-subcontainer {
  display: flex;
  flex-direction: column;
  padding: 2em;
  max-width: 600px;
}

.gbm-container-popout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  align-self: stretch;
  max-width: 980px;
  margin: 4em 0;
  padding: 2em 4em;
  border-radius: 1em;
}

.gbm-special-container {
  display: flex;
  flex-direction: row;
}

/* gbm-list */
.gbm-list-container {
  display: flex;
  flex-direction: row;
}

.gbm-list {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.gbm-list h4 {
  margin: 5px 0 0 0;
}

/* gbm-title */
.gbm-title {
  align-self: stretch;
  border-bottom: black solid 1px;
  margin-bottom: 22px;
}

.gbm-sub-title {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: bold;
}

/* gbm-text */

.gbm-text {
  font-size: 18px;
  margin: 0 0 20px 0;
  line-height: 1.428571429;
}
/* .img */

.gbm-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 415px;
}

.img-responsive {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
  box-shadow: 0 0 15px grey;
}

.img-letterhead {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  max-height: 186px;
}

.img-flag {
  max-width: 80px;
}

.gbm-img {
  padding: 6px;
  margin-bottom: 1em;
}

.gbm-img-frame {
  border: solid black 1px;
  padding: 6px;
  margin-bottom: 1em;
}

.gbm-img-caption {
  border: solid black 1px;
  padding: 6px;
  margin-bottom: 1em;
}

/* .gbm-union */

.gbm-union-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.gbm-union-subcontainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 1em;
}

.gbm-union-logo img {
  margin-bottom: 1em;
  max-width: 128px;
}

.gbm-union-name {
  font-size: 18px;
  font-weight: bold;
  max-width: 300px;
  margin: 0 2em;
}

/* .gbm-footer */

.gbm-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gbm-footer-back {
  margin: 1em;
  font-size: 18px;
  font-weight: bold;
}

.gbm-footer-back a {
  color: whitesmoke;
}

.gbm-footer-back a:hover {
  color: gray;
}

/* .misc */

.graybrick {
  background-image: url("../img/gray_brick_wall.gif");
}

.redbrick {
  background-image: url("../img/red_brick_wall.gif");
}

.mortar-top {
  border-top: 14px solid #333;
}

/* minified */

.gbm-minified-letterhead,
.gbm-minified-logo {
  display: none;
}

.gbm-minified-letterhead {
  flex-direction: column;
}

.gbm-minified-letterhead p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 1em;
}

h1 {
  font-weight: bold;
}

/* MEDIA QUERIES */

/* Tablet */
@media only screen and (max-width: 1060px) {
  .gbm-header-union {
    display: none;
  }
  .gbm-navbar {
    padding: 0 2%;
  }
  .gbm-special-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gbm-subcontainer {
    max-width: none;
    justify-content: center;
  }
  .gbm-container-full {
    flex-wrap: wrap;
    justify-content: center;
  }
  .gbm-container-popout {
    padding: 2em 2em;
  }
  #container-contact {
    max-width: 420px;
    text-align: center;
  }
}

/* Phone */

@media only screen and (max-width: 800px) {
  .gbm-union-container {
    flex-wrap: wrap;
  }

  .gbm-header-letterhead {
    display: none;
  }

  .gbm-minified-letterhead,
  .gbm-minified-logo {
    display: flex;
  }

  .gbm-header-container {
    justify-content: space-between;
  }
}
/* Special */

@media only screen and (max-width: 680px) {
  .gbm-list-container {
    flex-direction: column;
    max-width: 200px;
  }
  .gbm-subcontainer {
    align-items: center;
  }
}
